[Unit]
Description=Configure Bluetooth Modems connected by UART
ConditionFileNotEmpty=/proc/device-tree/soc/gpio@7e200000/bt_pins/brcm,pins
Requires=sys-devices-platform-soc-3f201000.serial-tty-ttyAMA0.device
After=sys-devices-platform-soc-3f201000.serial-tty-ttyAMA0.device

[Service]
Type=forking
ExecStart=/usr/bin/btuart

[Install]
WantedBy=multi-user.target
